<h2><%= @subject.name %></h2>

<table>
  <thead>
    <th>Студент</th>
    <th>Оценка</th>
    <th>Курсовая работа</th>
    <th>Действия</th>
  </thead>
  <% @students.each do |s| %>
    <% content_tag_for :tr, s do %>
      <td class="name"><%=h s.full_name %></td>
      <% term_paper = s.last_term_paper(@group_subject.id) %>
      <td class="mark"><%= mark(term_paper) %></td>
      <td class="term_paper"><%= download_link(term_paper) %></td>
      <td class="actions">
        <%= link_to "внести к/р", :action => "create", :group_subject_id => @group_subject.id, :student_id => s.id %> |
        <%= link_to "история", :action => "history", :group_subject_id => @group_subject.id, :student_id => s.id %>
      </td>
    <% end %>  
  <% end %>
</table>
